body {
    padding-top: 100px;
    color: white;
    background-color: black; 
    background-image: linear-gradient(to bottom left, rgb(0, 191, 255), rgb(0, 191, 255), rgb(13, 0, 255));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;   
    /* vh: viewport height. and now 100% the gradient color.  */

}

h1{
    text-shadow: blue 2px 2px 1px;
}

form{
    padding-top: 20px;
    text-align: center;
    margin: auto;
    color: black;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 166, 255);
    box-shadow: 10px 20px 7px blue; 
}

.userInputs{
    background-color: rgb(225, 233, 234);
    border-radius: 10px;
    width: 200px;
    height: 25px; 
    font-size: 16px;

}

.labels{
    font-size: 20px;
}
 
#logIn{
    padding: 10px 15px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    margin: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color .5s;
}
#logIn:hover { 
    background-color: aqua;
} 